<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring Boot</title>
</head>
<body>
<h1>Hello World</h1>
<h2 th:text="${message}"></h2>
<a href="/rest">Take a REST</a>

</body>
</html>